<app-search-bar (searchFetch)="fetchProductsByName($event)" />
<div>{{totalElements}}</div>

<input type="range" min="2" max="10" [(ngModel)]="nameLength">

@for (product of products; track product.id) {
  <div>{{product.name | shortener:nameLength}}</div>
  <div>{{product.price}} €</div>
  <button (click)="addToCart(product)">Lisa ostukorvi</button>
  <!-- <button routerLink="/product/{{product.id}}">Vt detailsemalt</button> -->
  <button [routerLink]="['product', product.id]">Vt detailsemalt</button>
}
<br><br>

@if (totalElements !== 0) {
  <app-pagination 
    [totalPages]="totalPages"
    (pageChangeFetch)="fetchProducts($event)"
    />
} 
